@{
    ViewData["Title"] = "NewProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main-content" class=" addbrand">
    <form action="/Admin/AddBrands" method="post">
        <input type="file" name="BrandsPhoto" />
        <button class="btn btn-success">Əlavə et</button>
    </form>

</div>