@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main-content">
    <div class="card">
        <div class="container-fluid">

            <h1>Sifariş siyahısı</h1>
            <table class="rwd-table">
                <tr>
                    <th>Sifariş məbləği</th>
                    <th>Sifarişin tarixi</th>
                    <th>Sifarişin statusu</th>
                    <th>Siafriş edilən məhsul</th>
                </tr>
                <tr>
                    <td data-th="Sifariş məbləği">150 azn</td>
                    <td data-th="Sifarişin tarixi">04-12-2023</td>
                    <td data-th="Sifarişin statusu">aktiv</td>
                    <td data-th="Siafriş edilən məhsul">samsung paltaryuyan</td>
                </tr>
                
               
            </table>
        </div>
    </div>
</div>

